.header{
    width: 300px;
}
.header_sheet{
    background-color: #D7A9E3;
    /* padding:15px 10px 15px 10px; */
    display: flex;
    font-size: 15px;
    font-weight: 600;
    border-radius: 4px;
    
}
.income{
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
    padding:8px ;
}
.expense{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding:8px ;
}
h2{
    text-align: center;
}
h1{
    text-align: center;
}